@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.symantec {
	font-family: "Share Tech Mono", monospace;
	font-weight: normal;
	font-size: 16px;
	background-color: black;
	padding: 0;
	margin: 0;

	header {
		&:before {
			content: ' ';
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: 2em;
			background-color: #180099;
			z-index: 100;
		}
	
		div {
			display: inline-block;
			padding: 1px 4px;
			position: fixed;
			top: 1.5em;
			right: 2em;
			color: white;
			background: black;
			z-index: 200;
		}
	}

	section:first-of-type {
		$color-back: #555555;
		$color-accent: #5356fc;
		$color-accent2: #fcff55;
		$color-link: #7dff8a;
	
		background-color: $color-back;
		padding: 4em 0 0 0;
		border-bottom: 2px solid black;
	
		& > div {
			position: relative;
			margin: 50px auto;
			border: 2px solid white;
			padding: 25px 50px;
			color: white;
			background-color: $color-accent;
			box-shadow: 20px 20px 0 0 rgba(0, 0, 0, 0.8);
			max-width: 60%;
			min-width: 300px;
			margin-top: 0px;

			div:nth-child(1) {
				position: absolute;
				top: 0;
				left: 0; 
				right: 0;
		  
				display: inline-block;
				background: white;
				padding: 2px 0;
	
				color: black;
				text-align: center;
			
				&:before {
					content: ' ';
					position: absolute;
					left: 0; top: 0;
					width: 19px; 
					height: 19px;
					background: black;
				}
				
				&:after {
					content: '-';
					position: absolute;
					left: 2.7px; 
					top: -1px;
					font-size: 24px;
					color: white;
				}
			}

			div:nth-child(2) {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				align-content: space-evenly;
				gap: 2em;
				padding-top:15px;
			
				:first-child {
					flex-basis: 10%;
				}
			
				:last-child {
					flex-grow: 2;
					flex-basis: 60%;
					text-align: justify;
				}
			}
		}
	}

	section:last-of-type {
		$color-back: #333333;
		$color-accent2: #fcff55;
	
		$color-blue-frame: #2efffe;
		$color-blue-text: #2efffe;
		$color-blue-accent: #180099;
		$color-blue-link: #fcff2f;
	
		$color-gray-frame: #000000;
		$color-gray-text: #000000;
		$color-gray-accent: #afa8af;
		$color-gray-link: #fcff2f;
		$color-gray-highlight: #1ca8af;
	
		$color-cyan-frame: #ffffff;
		$color-cyan-text: #ffffff;
		$color-cyan-accent: #1ca8af;
		$color-cyan-link: #fcff2f;
		$color-cyan-highlight: #000000;
	
		$frame-offset: 20px;
	
		background-color: $color-back;
		padding-bottom: 50px;
		border-top: 2px solid black;
	  
		& > div {
			position: relative;
			margin: 50px auto;
			max-width: 60%;
			min-width: 300px;
	
			padding: (($frame-offset * 2) + 10px) (($frame-offset * 2) + 20px);
		
			&:before, &:after {
				content: ' ';
				position: absolute;
				border: 1px solid $color-blue-frame;
				z-index: 1;
			}
			
			&:before {
				top: $frame-offset; bottom: $frame-offset;
				left: $frame-offset; right: $frame-offset;
			}
		
			&:after {
				top: $frame-offset + 2; bottom: $frame-offset + 2;
				left: $frame-offset + 2; right: $frame-offset + 2;
			}
		
			box-shadow: 20px 20px 0 0 rgba(0, 0, 0, 0.8);
	
			& > div:first-child {
				position: absolute;
				top: round($frame-offset / 1.5) + 1px;
				left: 0; right: 0;
				text-align: center;
				z-index: 2;
		  
				div {
					display: inline-block;
					padding-left: 0.8em;
					padding-right: 0.6em;
				}
			}
	
			strong {
				font-weight: normal;
			}
		}
	
		& > div:nth-child(1) {
		
			&:before, &:after {
				border-color: $color-cyan-frame;
			}
	
			color: $color-cyan-text;
			background-color: $color-cyan-accent;
		
			& > div:first-child > div {
				background-color: $color-cyan-accent;
			}
	
			strong {
				background-color: $color-cyan-highlight;
				padding-left: 0.8em;
				padding-right: 0.8em;
			}
	
			p {
				text-align: center;
			}
	
			& > div:last-of-type {
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				align-content: space-evenly;
			
				img {
					width: 90%;
				}
			}
		}
		
		& > div:nth-child(2) {
		
			&:before, &:after {
				border-color: $color-gray-frame;
			}
	
			color: $color-gray-text;
			background-color: $color-gray-accent;
		
			& > div:first-child > div {
				background-color: $color-gray-accent;
			}
	
			strong {
				background-color: $color-gray-highlight;
				padding-left: 0.8em;
				padding-right: 0.8em;
			}
	
			& > div:last-of-type {
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				align-content: space-evenly;
				gap: 1em;
			
				div {
					width: 80%;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
					align-content: space-evenly;
					gap: 2em;
			
					img {
						min-width: 20%;
						max-width: 30%;
						opacity: 1;
						z-index: 2;
			
						&:hover {
							opacity: 0.6;
						}
					}
				}
			}
		}
	
		& > div:nth-child(3) {
		
			&:before, &:after {
				border-color: $color-blue-frame;
			}
	
			color: $color-blue-text;
			background-color: $color-blue-accent;
		
			& > div:first-child > div {
				background-color: $color-blue-accent;
			}
	
			strong {
				color: $color-accent2;
			}
	
			& > div:last-of-type {
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				align-content: space-evenly;
				gap: 1em;
			
				div {
					width: 80%;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
					align-content: space-evenly;
					gap: 2em;
			
					img {
						min-width: 30%;
						max-width: 40%;
					}
				}
			}
		}
	}
}


