@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Share Tech Mono", monospace;
  font-weight: normal;
  font-size: 16px;
  background-color: black;
}

.screen {
  padding: 0;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
.screen:first-child {
  border-top: none;
}

.win {
  max-width: 60%;
  min-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.win p:first-child {
  margin-top: 0;
}
.win p:last-child {
  margin-bottom: 0;
}

.content-center {
  text-align: center;
}

.symantec {
  background-color: #555555;
}
.symantec header.main {
  position: relative;
  height: 4em;
}
.symantec header.main:before {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  background-color: #180099;
  z-index: 100;
}
.symantec header.main .caption {
  display: inline-block;
  padding: 1px 4px;
  position: fixed;
  top: 1.5em;
  right: 2em;
  color: white;
  background: black;
  text-transform: uppercase;
  z-index: 200;
}
.symantec .win {
  position: relative;
  margin: 50px auto;
  border: 2px solid white;
  padding: 25px 50px;
  color: white;
  background-color: #5356fc;
  box-shadow: 20px 20px 0 0 rgba(0, 0, 0, 0.8);
}
.symantec .win:first-of-type {
  margin-top: 25px;
}
.symantec .win a {
  color: #7dff8a;
}
.symantec .win .caption {
  margin-bottom: 15px;
}
.symantec .win .caption .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: inline-block;
  background: white;
  padding: 2px 0;
  color: black;
  text-align: center;
}
.symantec .win .caption .title:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 19px;
  height: 19px;
  background: black;
}
.symantec .win .caption .title:after {
  content: "-";
  position: absolute;
  left: 5px;
  top: -1px;
  font-size: 24px;
  color: white;
}
.symantec strong {
  color: #fcff55;
  font-weight: normal;
}

.norton {
  background-color: #333333;
}
.norton .win {
  position: relative;
  margin: 50px auto;
  padding: 50px 60px;
  box-shadow: 20px 20px 0 0 rgba(0, 0, 0, 0.8);
}
.norton .win:before, .norton .win:after {
  content: " ";
  position: absolute;
  border: 1px solid #2efffe;
  z-index: 1;
}
.norton .win:before {
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.norton .win:after {
  top: 22px;
  bottom: 22px;
  left: 22px;
  right: 22px;
}
.norton .win .caption {
  position: absolute;
  top: 14px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}
.norton .win .caption .title {
  display: inline-block;
  padding-left: 0.8em;
  padding-right: 0.6em;
}
.norton .win strong {
  font-weight: normal;
}
.norton .win.blue-theme {
  color: #2efffe;
  background-color: #180099;
}
.norton .win.blue-theme:before, .norton .win.blue-theme:after {
  border-color: #2efffe;
}
.norton .win.blue-theme .caption .title {
  background-color: #180099;
}
.norton .win.blue-theme a {
  color: #fcff2f;
}
.norton .win.blue-theme strong {
  color: #fcff55;
}
.norton .win.gray-theme {
  color: #000000;
  background-color: #afa8af;
}
.norton .win.gray-theme:before, .norton .win.gray-theme:after {
  border-color: #000000;
}
.norton .win.gray-theme .caption .title {
  background-color: #afa8af;
}
.norton .win.gray-theme a {
  color: #fcff2f;
}
.norton .win.gray-theme strong {
  background-color: #1ca8af;
  padding-left: 0.8em;
  padding-right: 0.8em;
}
.norton .win.cyan-theme {
  color: #ffffff;
  background-color: #1ca8af;
}
.norton .win.cyan-theme:before, .norton .win.cyan-theme:after {
  border-color: #ffffff;
}
.norton .win.cyan-theme .caption .title {
  background-color: #1ca8af;
}
.norton .win.cyan-theme a {
  color: #fcff2f;
}
.norton .win.cyan-theme strong {
  background-color: #000000;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.container-introduction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  gap: 2em;
}
.container-introduction :first-child {
  flex-basis: 10%;
}
.container-introduction :last-child {
  flex-grow: 2;
  flex-basis: 60%;
  text-align: justify;
}

.container-banner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
}
.container-banner img {
  width: 90%;
}

.container-icons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  gap: 1em;
}
.container-icons div {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  gap: 2em;
}
.container-icons div img {
  min-width: 20%;
  max-width: 30%;
  opacity: 1;
  z-index: 2;
}
.container-icons div img:hover {
  opacity: 0.6;
}

.container-spinners {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  gap: 1em;
}
.container-spinners div {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  gap: 2em;
}
.container-spinners div img {
  min-width: 30%;
  max-width: 40%;
}